/* Cabeçalho */

.cabecalho__container {
	display: flex; /* transforma a lista em um container flex, permitindo que você utilize as outras propriedades para organizar os itens. */
	justify-content: space-between; /* distribui os itens uniformemente, com espaço entre eles */
	align-items: center; /* Centraliza verticalmente o container ;*/
	position: fixed; /* Deixa fixo na tela o elemento */
	top: 0; /* Posição do elemento fico */
}

.cabecalho__pesquisar__item {
	display: none;	/* Ocultar a barra de pesquisa mobile */
}

/* Menu Lateral */

.menu__container {
	/* Posiciona o menu lateral para a parte de baixo, mobile */
	position: fixed;
	bottom: 0%;
	height: 74px;
	width: 100%;
}

.menu__lista {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.menu__lista li {
	align-self: center;	/* Essa propriedade permite alinhar cada elemento de forma única, diferente. */
}

.menu__itens {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/* Aplica o estilo na lista 2, 3 e 4 */
.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4) {
	display: none;
}

/* Superior Seção */

.superior__secao__container {
	display: flex;
	align-items: center;
	white-space: nowrap; /* Remove a quebra de linha no texto */
	overflow: scroll; /* Aplica a Barra de Rolagem */
	gap: 15px /* Adiciona espaços entre itens do flexbox */
}

.videos__item {
	height: 303px;
	width: 280px;
}

.descricao-video {
	margin-top: 1rem;
	display: grid;
	text-align: start;
	column-gap: 1rem;
	row-gap: 10px;
	grid-template-columns: auto 1fr;
}

.descricao-video img {
	grid-area: 1 / 1 / 3 / 2;
}

.descricao-video h3 {
	grid-area: 1 / 2 / 2 / 3;
	font-weight: 700;
	color: #444444;
}

.descricao-video p {
	grid-area: 2 / 2 / 3 / 3;
	font-size: 14px;
	color: #444444;
}

/* Rodapé */

.rodape__container {
	display: flex;
	/* flex-direction: column;	Por padrão display: flex: fica em linha, aqui muda para coluna
	flex-wrap: wrap; Permite quebrarmos colunas em mais colunas ou linhas */
	flex-flow: column wrap;
}

@media screen and (min-width: 834px) {

	/* Cabeçalho */

	.cabecalho__pesquisar__item {
		display: block; /* Exibir barra de pesquisa mobile */
	}

	/* Menu Lateral */

	.menu__container {
		left: 0%;
		height: auto; /*88%*/
		width: 74px; /*6%*/
		top: 80px; /*nao~~*/
	}

	.menu__lista {
		flex-direction: column;
		justify-content: flex-start;
		gap: 33px; /*30px*/
		padding-top: 15px; /*nao~~*/
	}

	/* Vídeos */

	
	/* Rodapé */

	.rodape__container {
		justify-content: space-between;
	}
}

@media screen and (min-width: 1440px) {
	.menu__container {
		width: 239px;
		overflow: scroll;
	}

	.menu__lista:nth-child(2),
	.menu__lista:nth-child(3),
	.menu__lista:nth-child(4) {
		display: flex;
	}

	.menu__lista {
		height: auto;
		padding: 20px 17px 21px 15px; /* Ajustando a largura do hover no menu lateral */
		gap: 15px;
	}

	.menu__itens {
		flex-direction: row;
		align-items: center;
		gap: 15px;
	}

	.menu__lista:nth-child(3) {
		flex-direction: column-reverse;
	}
	/* Lista 4 */
	.jogos {
		order: 3;
	}

	.filmes {
		order: 2;
	}

	.premium {
		order: 1;
	}

	.mais__pagina {
		order: 4;
	}
}