.cabecalho__container {
	display: flex; /* transforma a lista em um container flex, permitindo que você utilize as outras propriedades para organizar os itens. */
	justify-content: space-between; /* distribui os itens uniformemente, com espaço entre eles */
	align-items: center; /* Centraliza verticalmente o container ;*/
	position: fixed; /* Deixa fixo na tela o elemento */
	top: 0px; /* Posição do elemento fico */
}

.cabecalho__pesquisar__item {
	display: none;
}

@media screen and (min-width: 834px){
	.cabecalho__pesquisar__item {
		display: block;
	}
}